/*----BASIC STUFF----*/

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: ;
}

#notifyUser{
	position: absolute;
	bottom: 2em;
	right: 2em;
	z-index: 10;
}

a:hover {
	text-decoration: none;
	color: gray;
	
}

/*----------------*/

/*----BUTTONS----*/

.roundButton{
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	z-index: 100;
}

/*----------------*/




